.search {
  width: 100%;

  @media (--xs) {
    width: auto;
  }
}

.selectTrigger {
  /* stylelint-disable-next-line selector-class-pattern */
  & :global(.rt-SelectTriggerInner) {
    display: inline-flex;
    gap: calc(var(--space-1) * 1.5);
    align-items: center;
    justify-content: space-between;
  }

  /* stylelint-disable-next-line selector-class-pattern */
  & :global(.rt-SelectIcon) {
    display: none; /* use custom icon */
  }
}
