.search {
  width: 100%;

  @media (--xs) {
    width: auto;
  }
}

.selectTrigger {
  /* stylelint-disable-next-line selector-class-pattern */
  & .rt-SelectIcon {
    display: none; /* use custom icon */
  }
}
