.statIcon {
  object-fit: scale-down;
}

.radioCardItem {
  justify-content: flex-start;
}

.startingMemoryCard {
  width: 64px;
  height: 64px;
}

.dataListRoot {
  align-self: center;
}

.upgradableParamIcon {
  margin-right: calc(var(--space-1) * 0.5);
  margin-left: calc(var(--space-1) * 0.5);
}
