.travelerSelectCard {
  width: 130px; /* WORKAROUND: need to +2px for the inset child to have the correct width */
  height: 128px;
}

.radioCardItem {
  justify-content: flex-start;
}

.startingMemoryCard {
  width: 64px;
  height: 64px;
}

.dataListRoot {
  align-self: center;
}
