@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme inline {
  --font-sans: var(--font-raleway);
  --font-serif: var(--font-playfair-display);
}

@plugin "daisyui" {
  themes: night --default;
}

:root {
  @apply text-pretty;
}
