@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme inline {
  --font-sans: var(--font-raleway);
  --font-serif: var(--font-merriweather);
}

@plugin "daisyui" {
  themes: night --default;
  exclude: rootscrollgutter;
}

:root,
[data-theme] {
  --root-bg: var(--color-base-200);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-serif;
}

em {
  @apply font-medium;
}

@utility badge {
  @apply lining-nums;
}

@utility card {
  @apply bg-base-100 text-base-content;
}

@utility card-border {
  @apply border-base-300;
}

@utility container {
  @apply mx-auto px-4;
}

@utility input {
  @apply bg-base-200;
}

@utility navbar {
  @apply z-[1000];
}

@utility drawer-side {
  @apply z-[1100];
}
