.tabRoot {
  width: 100%;
}

.stat {
  --card-padding: var(--space-2);

  min-width: 52px;
}

.statGrowth {
  padding: var(--space-1);
  background-color: var(--card-background-color);
}

.paragraph {
  align-self: flex-start;
}

.sprite {
  width: auto;
  height: 20px;
}
